@import 'reset';
@import 'fonts';
@import 'style';


.feelLucky{
    position: fixed;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 15px;
    transition: all 0.5s;
    &:hover{
        background-color: white;
        color: hsl(229, 25%, 31%);
        cursor: pointer;
    }
}